#! /bin/sh -u

alias ls='ls -G'
alias grep='grep --color=auto'
alias mv='mv -i'
alias uuid='uuid -v4'

alias pacin='yaourt -S --needed'

alias start='sudo systemctl start'
alias stop='sudo systemctl stop'
alias restart='sudo systemctl restart'
alias status='sudo systemctl status'

selenium_jar='/usr/share/selenium-server/selenium-server-standalone.jar'

if test -f $selenium_jar
then
alias selenium="java -jar $selenium_jar"
fi

alias brix='brew audit --strict --fix'
alias activate='. */bin/activate'
alias gitg='nice gitg'
