#! /bin/sh -u

alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias mv='mv -i'
alias pwgen='pwgen --secure --ambiguous --capitalize --numerals 32 1'
alias catf='tail -n +0 -f'
alias svn='svn --diff-cmd colordiff'
alias phpcs='phpcs --standard=PSR2'
alias phpcbf='phpcbf --standard=PSR2'

alias pacin='yaourt -S --needed'

alias start='sudo systemctl start'
alias stop='sudo systemctl stop'
alias restart='sudo systemctl restart'
alias status='sudo systemctl status'

if hash mysql 2>/dev/null
then
alias mysql:='mysql --defaults-group-suffix'
fi

selenium_jar='/usr/share/selenium-server/selenium-server-standalone.jar'

if test -f $selenium_jar
then
alias selenium="java -jar $selenium_jar"
fi

alias ssh-keygen='ssh-keygen -b 4096'
