[user]
	name = Aaron J. Lang
	email = aaronjameslang@googlemail.com
[push]
	default = simple
[pull]
	rebase = true
[merge]
#	ff = only
	tool = meld
[diff]
	tool = meld
[core]
	excludesfile = ~/.git-ignore
