[user]
	name = Aaron J. Lang
	email = aaronjameslang@googlemail.com
[push]
	default = current
[pull]
	rebase = true
[merge]
	ff = false
	tool = meld
[diff]
	tool = meld
[core]
	excludesfile = ~/.git-ignore
	ignorecase = false
